<!DOCTYPE html>
<html>
<head>
    <!--<meta charset="utf-8" />-->

    <!-- BING MAPS STUFF! -->
    <!-- BING MAPS API Key: ArWZIz4IM2XQFf8gG1WzQMsdjVxubILEA6RSd96MqVnMqbX2g4Ov_VDBL_D4hlz_ -->
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=getMap' async defer></script>
    <script type='text/javascript'>
            function getMap() {
                    var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                        credentials: 'ArWZIz4IM2XQFf8gG1WzQMsdjVxubILEA6RSd96MqVnMqbX2g4Ov_VDBL_D4hlz_'
                    });
                }

    </script>


    <!-- /BING MAPS STUFF! -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Your drone/multicopter co-pilot</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body onload="getMap();">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Drone Copilot", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Map", "Index", "Home")</li>
                    <li>@Html.ActionLink("Data", "Data", "Home")</li>
                    <li>@Html.ActionLink("Settings", "Settings", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="container body-content">-->
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DroneCopilot for web.<br />
            Developed by Andrej Georgievski, Kristijan Gjoshev and Stefan Cokovski.<br />
            DroneCopilot is a solution to the challenge <a href="http://2016.spaceappschallenge.org/challenges/aero/dont-crash-my-drone" target="_blank">Don't crash my drone</a> at <a href="http://2016.spaceappschallenge.org/"  target="_blank">2016 NASA Space Apps Challenge</a>.
            </p>
        </footer>
    <!--</div>-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Geolocation.js")
    @RenderSection("scripts", required: false)
</body>
</html>
